<ul class="nav justify-content-center navbar-dark" style="background-color: #105BE7;">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff">Soporte</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff">Mas informacion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff">POLITICA DE PRIVACIDAD</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff">CONDICIONES DE USO</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff">Schoology @ 2022</a>
  </li>
</ul>
